body{
    
    background: linear-gradient(to right, #2c3e50, #bdc3c7); 
}

.form{
    background-color: white;
    border-radius: 5px;
    width: 800px;
    height: 600px;
    margin: 20px auto;
    padding: 20px;
    margin-top:50px;
    font: size 20px;
}
.card{
  background-color: rgb(248, 163, 224);
  border-radius: 5px;
  width: 400px;
  height: 360px;
  margin: 20px auto;
  padding: 20px;
  margin-top:50px;
  font: size 5px;
}
.head{
  text-align: left;
}

.form-body{
        padding: 40px;
        text-align: right;
        max-width: 400px;
        margin: 10px auto;
        margin-left: 0px;
        size: 500px;
}
  .head{
    margin-left: 0px;
  }

.footer{
   font-size: medium;
}
.first{
    text-align: center;
    margin-top: 150px;
    margin-right: 100px;
    margin-left: 70px;
}

.form-body > *{
    padding: 5px;
}

    .btn {
      color: #fff;
      background-color: #0d6efd;
      border-color: #0d6efd;
      padding: 5px 10px;
      border-radius: 5px;
      margin-right: 30px;
      margin-left: 30px;
    }
  
  
  .btn{
    transition-duration: 0.4s;
  }
  /*.btn:hover {
    background-color: #0d5bed;
    color: white;
    width: 35%;
    border-radius: 6px;
  }*/

.form__label{
    width: 40%;
}

.form__input{
    width: 30%;
    border-radius: 4px;
}

.footer{
    text-align: center;
    height: 250%;
}


/*
.profile {
    margin: 5%;
    padding: 5% 400px;
    font-size: large;
    text-align: center; 
  }
  
  .form-label {
    margin-bottom: 0.5rem;
    display: inline-block;
    font-weight: bold;
  }
  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #50a4f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  .box {
    display: flex;
    flex-wrap: wrap;
  }
  .one1{
    display: flex;
     }
.onee{
    margin-right: 130px;
}
  .head{
    margin-bottom: 50px;
  }
  .form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #50a4f9;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .one{
    margin-right: 250px;
  }
  .btn {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    padding: 5px 10px;
    border-radius: 5px;
  }

*/
